<div nz-row class="div-banner-footer">
  <div nz-col nzSpan="12">
    <p class="text-p-banner">LOREM IN AMET DOLOR SIT A PULVINAR SED</p>
    <div class="div-button">
      <button nz-button nzType="primary" class="button-banner">QUERO SABER MAIS</button>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <img class="img-banner3" src="../../../../assets/img_banner3.png">
  </div>
</div>

<div class="div-p1">
  <div class="div-text-p1">
    <div class="div-p">
      <p>Aenean quis dignissim velit. Aliquam laoreet aliquet lacinia. Nulla id mauris sodales, hendrerit justo nec,
        dictum nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>


<footer class="footer">

  <div class="l-footer">
    <p class="text-p2">
      Praesent nisi nisl, porta facilisis felis at, egestas tempus enim. Curabitur eros turpis, volutpat vel nulla a,
      ultricies blandit elit. Pellentesque tincidunt lacinia dolor. Praesent ullamcorper eu quam et rutrum..</p>
  </div>

  <nz-divider class="divider"></nz-divider>

  <div class="b-footer">
    <p> Desenvolvido por Innova </p>
  </div>

</footer>
