*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  margin     : 0;
  display    : grid;
  font-size  : 14px;
}

.footer {
  display         : flex;
  flex-flow       : row wrap;
  padding         : 50px;
  color           : #fff;
  background-color: #2D343A;
}

.footer>* {
  flex: 1 100%;
}

.l-footer {
  margin-right   : 1.25em;
  margin-bottom  : 2em;
  display        : flex;
  justify-content: center;
}

.b-footer {
  text-align : center;
  color      : #819099;
  padding-top: 50px;
  margin-top : -40px;
}

.l-footer p {
  padding-right: 20%;
  color        : #819099;
  margin-left  : 191px;
}

.div-p1 {
  background: #D0D0D3 0% 0% no-repeat padding-box;
  margin-top: 100px;
  height    : 428px;
}

.div-text-p1 {
  width         : 600px;
  display       : flex;
  flex-direction: column;
  margin        : 0 auto;
  margin-bottom : 10px;
  margin-top    : 100px;
}

.div-p {
  margin-top : 300px;
  text-align : center;
  align-items: center;
  display    : flex;
  height     : 100%;
  width      : 100%;
  margin-left: -25px;
}

.div-button {
  display        : flex;
  justify-content: center;
  margin-top     : 60px;
}

.button-banner {
  background-color: #C7CFD1;
  border-color    : #C7CFD1;
}

.div-banner-footer {
  position        : absolute;
  background-color: #536068;
  width           : 690px;
  height          : 256px;
  margin-left     : 450px;
}

.text-p-banner {
  top           : 0px;
  left          : 0px;
  width         : 235px;
  height        : 66px;
  text-align    : left;
  font          : normal normal 300 30px/32px Roboto;
  letter-spacing: 0px;
  color         : #FFFFFF;
  text-transform: uppercase;
  margin-left   : 74px;
  margin-top    : 30px;
}

.text-p1 {
  text-align: center;
  margin-top: 99px;
}

.text-p2 {
  text-align: center;
}


.divider {
  background-color: #819099
}

.img-banner3{
  height: 256px;
  width: 345px;
}

@media screen and (min-width: 600px) {
  .l-footer {
    flex: 1 0px;
  }
}


@media screen and (max-width: 600px) {
  .footer {
    width : 941px;
    height: 372px;
  }
}

@media screen and (max-width: 600px) {
  .div-p1 {
    width: 947px;
  }
}

@media screen and (max-width: 600px) {
  .divider {
    height: 2px;
  }
}

@media screen and (max-width: 600px) {
  .div-banner-footer {
    margin-left: 135px;
  }
}
