<div class="div-barra"></div>

<div class="row container">
  <div class="col-md-8 div1">
    <p class="p-text1">LOREM IPSUM</p>
    <p class="p-text2">+500</p>
    <p class="p-text3">DOLOR SIT AMET</p>
  </div>

  <div class="col-md-16 div2">

    <nz-card class="card-formulario">
      <form nz-form [formGroup]="singupForm" (ngSubmit)="onSubmit()">

        <div nz-row [nzGutter]="16">

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['nome']" nzErrorTip="Campo nome é obrigatório!">
                <input nz-input name="nome" type="text" id="nome" formControlName="nome" placeholder="Nome Completo">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['email']"
                nzErrorTip="Campo email é obrigatório!">
                <input nz-input name="email" type="text" id="email" formControlName="email" placeholder="Email">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <input nz-input name="cep" type="text" id="cep" formControlName="cep" placeholder="Cep"
                  (change)="getCep($event)">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['endereco']" nzErrorTip="Campo endereço é obrigatório!">
                <input nz-input name="endereco" type="text" id="endereco" formControlName="endereco"
                  [value]="endereco? endereco: ''" placeholder="Endereço">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <input nz-input name="cidade" type="text" id="cidade" formControlName="cidade"
                  [value]="cidade? cidade : ''" placeholder="Cidade">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <input nz-input name="uf" type="text" id="uf" formControlName="uf" [value]="uf? uf : ''"
                  placeholder="Estado">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['numero']"
                nzErrorTip="Campo número é obrigatório!">
                <input nz-input name="numero" type="text" id="numero" formControlName="numero" placeholder="Nº">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['complemento']"
                nzErrorTip="Campo complemento é obrigatório!">
                <input nz-input name="complemento" type="text" id="complemento" formControlName="complemento"
                  placeholder="Complemento">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="singupForm.controls['mensagem']"
                nzErrorTip="Campo mensagem é obrigatório!">
                <textarea rows="4" nz-input formControlName="mensagem" placeholder="Mensagem"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="div-button">
          <button class="button-enviar" type="submit" nz-button nzType="primary">Enviar</button>
        </div>


      </form>
    </nz-card>

  </div>

</div>
