.container{
  display: flex;
  justify-content: center;
}

.div-barra{
  top: 1773px;
  left: 0px;
  width: 565px;
  height: 80px;
  background: #D0D0D3 0% 0% no-repeat padding-box;
  opacity: 1;
}

.div1{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 194px;
}

.div2{
  margin-left: 41px;
}

.p-text1{
  text-align: center;
    font: normal normal 300 16px/34px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 22px;
    margin-bottom: 40px;
}

.p-text3{
  text-align: center;
    font: normal normal 300 12px/34px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -50px;
    margin-left: 15px;
}


.p-text2{
  font: normal normal bold 63px/34px Roboto;
  letter-spacing: 0px;
  color: #536068;
  opacity: 1;
}

.card-formulario {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 100px;
  border: none;
}


.div-button {
  display: flex;
  justify-content: flex-end;
}

.button-enviar {
  border-color: black;
  background: black;
}

@media screen and (max-width: 600px) {
 .div2{
   width: 100%;
 }
}

@media screen and (max-width: 600px) {
  .container{
    width: 100%;
    margin-left: 100px;
  }
 }

 @media screen and (max-width: 600px) {
  .card-formulario{
    margin-left: 42px;
  }
 }

 @media screen and (max-width: 600px) {
  .div1{
    margin-left: 32px;
  }
 }




