<div nz-row class="div-header">
  <div nz-col nzSpan="12">
    <p class="p-header1">WHAT IS LOREM IPSUM?</p>
    <nz-divider class="divider"></nz-divider>
    <p class="p-header2">Suspendisse nec nibh vel augue lacinia commodo.</p>
  </div>
  <div nz-col nzSpan="12">
    <img class="img-banner1" src="../../../../assets/img_banner1.png">
  </div>
</div>

<div class="div-banner1">
  <div class="div-header-banner1">
    <p class="p-banner1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </div>
</div>

<div class="div-banner2">
  <div nz-row class="div-header-banner2">
    <div nz-col nzSpan="12">
      <p class="p-banner2">Suspendisse nec nibh vel.</p>
    </div>
    <div nz-col nzSpan="12">
      <img class="img-banner2" src="../../../../assets/img_banner2.png">
    </div>
  </div>
</div>
