.div-header{
  background: #D0D0D3 0% 0% no-repeat padding-box;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
}

.div-banner1{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
  height: 100%;
  margin-top: -100px;
}

.div-header-banner1{
  background: #536068;
  height: 416px;
  width: 950px;
}

.p-banner1{
  width: 825px;
  height: 164px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 100px;
  font: normal normal 300 18px/24px Roboto;
}

.div-banner2{
  display: flex;
  justify-content: center;
  margin-top: -308px;
  margin-bottom: 50px;
}

.div-header-banner2{
  background: #2D343A;
  margin-bottom: 100px;
  height: 165px;
  margin-top: -100px;
  width: 980px;
}

.p-banner2{
  width: 350px;
  height: 39px;
  text-align: center;
  font: normal normal bold 30px/34px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 40px;
  margin-top: 40px;
}

.p-header1{
  text-align: left;
  font: normal normal 300 60px/70px Roboto;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  width: 445px;
  height: 184px;
  margin-left: 100px;
  margin-top: 80px;
}

.divider{
  background-color: #819099;
  margin-top: -96px;
  margin-left: 24px;
}

.p-header2{
  width: 445px;
  height: 82px;
  text-align: left;
  font: normal normal 300 30px/34px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 100px;
}

.img-banner1{
  width: 100%;
  height: 400px;
}

.img-banner2{
  width: 489px;
  height: 164px;
}


@media screen and (max-width: 600px) {
  .div-header {
    width: 942px;
  }
}

@media screen and (max-width: 600px) {
  .p-header1 {
    margin-left: 17px;;
  }
}

@media screen and (max-width: 600px) {
  .p-header2 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .div-banner1 {
    margin-left: 947px;
  }
}

@media screen and (max-width: 600px) {
  .div-banner2 {
    width: 800px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .img-banner1 {
    width: 477px;
  }
}












